<div style="font-family: Arial, sans-serif; padding: 0 24px">
  <img
    src="https://s3.ap-northeast-1.amazonaws.com/dev-admin.dev.watermains.net-ap-northeast-1-898969037144/assets/assets/images/logo.png"
    alt="logo" />
  <h2><b>Welcome to IoTubig</b></h2>
  <p>Hi {{firstName}},</p>
  <p>
    Welcome to the IoTubig service. A place where you can monitor your water meter's status online and receive meter
    alerts via email.
    For prepaid meter reloading and other concerns, kindly contact your building administrator.
  </p>
  <p>Best regards,<br />IoTubig Team</p>
  <hr />
  {{orgName}}
  <p>
    You received this email because this email was used to register an IoTubig
    account.
  </p>
</div>